html {
    position: relative;
    min-height: 100%
}

body {
    margin: 0 0 60px;
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0;
    color: #49AAA6; 
}

p {
    text-align: justify;
    line-height: 25px;
    margin-top: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #777;
}

header {
    background-color: #fff;
    height: 85px;
    border-bottom: 2px solid #ccc;
}

header .wrapper {
    width: 960px;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 85px;
    background-color: #49AAA6;
    box-shadow: inset 0px 0px 70px rgba(0,0,0,0.15); 
}

nav {
    float: right;
    padding-top: 30px;
    font-size: 18px;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline;
    padding: 12px;
}

nav #active, nav a:hover {
    padding-bottom: 5px;
    border-bottom: solid #49AAA6 4px;
    transition: 0.2s;
}

.logo h1 {
    color: #fff;
    padding: 22px 35px 0 35px;
}

.inner h2 {
    font-size: 30px;
}

#content {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 35px;
    margin-bottom: 125px;
    border: 2px solid #ddd;
    min-height: 550px;
}

#content .inner {
    padding: 30px 30px 10px 30px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 3px;
    background-color: #ddd;
    border: 0;
    width: 100%;
}
 
footer {
    background-color: #666;
    height: 60px;
    border-top: 10px solid #49AAA6;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .inner {
    width: 960px;
    margin: 0 auto;
}

footer .inner p {
    text-align: center;
    color: #ddd;
    padding-top: 30px;
    font-size: 12px;
}

#profile {
    height: 300px;
    float: left;
    padding: 5px 25px 15px 0;
}